html {
  height: 100vh;
}

body {
  height: 500vh;
}

video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  height: 770px;
  width: 1158px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
